@charset "utf-8";
/* BASE CSS */

/* RESET */

/* ======================================================================== PC */

/* button_style */
.btn_line {text-align:center; font-size:0;}
.btn_line a {margin-left:10px;}
.btn_line a:first-child {margin-left:0;}
.btn_srch {display:inline-block; width:70px; text-align:center; height:35px; font-size:14px; line-height:35px; vertical-align:middle; background:#384d75; color:#fff !important;}
.btn_bbs {display:inline-block; width:70px; text-align:center; height:35px; font-size:14px; line-height:35px; vertical-align:middle; background:#384d75; color:#fff !important;}
.btn_baseColor {display:inline-block; width:125px; height:50px; line-height:50px; background:#384d75; font-size:20px; color:#fff !important;}

/* layout */
#wrap {}
.box_inner {width:1050px; margin:0 auto;}

/* 헤더 */


/* 푸터 */


/* container */
#container {padding-bottom:70px;}

/* 슬라이드 */

/* 인기 여행지 */

/* 상담 및 최근 게시물  */

/* 퀵메뉴 */

/* 모달(팝업) */

/* sub_page */


/* 공지사항 목록 */


/* 공지사항 상세보기 */


/* place_area */


/* login */


/* 회원가입 */


/* MYPAGE */


/* 반응형 - 태블릿 가로 */
@media all and (max-width:1065px) and (min-width:801px) {			
	
	/* 반응형 메인 */

    /* 회원가입 */

    /* MYPAGE */
}

/* 반응형 - 태블릿, 모바일  */
@media all and (max-width:800px) {
	
	/* 헤더 */

	/* 슬라이드 */
   
	/* 푸터 */


	/* container */
	#container {position:relative; width:100%; padding-bottom:30px;}

	/* 인기 여행지 */

	/* 상담 및 최근 게시물 */ 
 
    
	/* 퀵메뉴 */


	/* 모달(팝업) */
	

	/* sub_page */
	

	/* 공지사항 */
	

	/* 공지사항 상세보기 */
	.near_list {display:none;}

	/* place_area */
	

	/* login */
	

	/* 회원가입 */
	

	/* MYPAGE */
	
}

/* 반응형 - 모바일 세로 */
@media all and (max-width:320px) {	
	.quick_area .quick_list li a h3 {letter-spacing:-2px;}
}
