* { margin: 0; padding: 0; border: 0; }


/* 상품 목록 */
.product-list {
    display: flex;
    flex-wrap: wrap;
}
.product-list .card {
    width: calc( 98%/1 );
    margin: 1%;
}
.product-list .card img { width: 100%;}
.product-list .card h2 { margin: 20px 0;}
.product-list .card p { margin-bottom: 20px; }
.product-list .card button { 
    background: cornflowerblue;
    color: #fff;
    padding: 15px 20px;
}


/*  반응형 적용하기  */
/* 모바일 (가로) */
@media (min-width: 480px) {
    .product-list .card {
        width: calc(96%/2);
    }
}

/* 태블릿 */
@media (min-width: 768px) {
    .product-list .card {
        width: calc(94%/3);
    }
}

/* PC */
@media (min-width: 1200px) {
    .product-list .card {
        width: calc(92%/4);
    }
}


