
.wrapper {
    width: 960px;
    margin: 0 auto;
}

header, footer {
    width: 960px;
}

nav, section {
    float: left;
}

footer { clear: both; }

nav { 
    width: 200px;
    margin-right: 10px;
}

section {
    width: 750px;
}

* { box-sizing: border-box; }

body {
    text-align: center;
}

header, nav, section, footer {
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
}

header, footer { padding: 20px 0;}
nav, section { padding: 200px 0;}
