
/* normalize */
a { text-decoration: none; color: black; }

#wrap {}

/* 영역 확인 */
header, section, footer {
    border: 1px solid black;
}

.inner-box {
    width: 1200px;
    margin: 0 auto;
}

.flex { display: flex; }
.flex-start { justify-content: flex-start; }
.flex-end { justify-content: flex-end; }
.flex-center { justify-content: center; }
.flex-between { justify-content: space-between; }
.flex-around { justify-content: space-around; }
.align-center { align-content: center; }
.align-items-center { align-items: center; }

/* header */
.header {  }
.header .user { height: 50px;  border: 1px solid black; }
.header .user li { margin-right: 15px; }
.header .info { height: 100px; border: 1px solid black;}

.submenu { display: none; }

.gnb li { margin-right: 30px;}


/* section */
section { min-height: 300px; }

/* footer */
footer {min-height: 200px;}



/* 반응형 */
@media screen and (max-width: 1199px) {
    .inner-box {
        width: 98vw;
    }
}